<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.ezen_project.dao.ConsumerDAO"> 
	
	<delete id="delFAQAll">
		delete from faq
	</delete>
	
	<delete id="delFAQ" parameterType="integer">
		delete from faq where faqNum = #{faqNum}
	</delete>
	
	<insert id="addFAQ" parameterType="FAQVO">
		insert into faq (faqNum, faqCat, faqTitle, faqCntxt)
		values(faq_seq.nextval, #{faqCat}, #{faqTitle}, #{faqCntxt}) 
	</insert>
	
	<update id="udtFAQ" parameterType="FAQVO">
		update faq set faqCat=#{faqCat}, faqTitle=#{faqTitle}, faqCntxt=#{faqCntxt} where faqTitle=#{faqTitle}
	</update>
	
	<select id="getFAQCount" resultType="integer">	
		select count(*) from faq
	</select>
	
	<select id="getFAQOne" resultType="FAQVO" parameterType="integer">	
		select * from faq where faqNum = #{faqNum}
	</select>
	
	<select id="getFAQAll" resultType="FAQVO">	
		select * from faq
	</select>
	
	
	
	<delete id="delNtcAll">
		delete from ntcBoard
	</delete>
	
	<delete id="delNtc" parameterType="integer">
		delete from ntcBoard where ntcNum = #{ntcNum}
	</delete>
	
	<insert id="addNtc" parameterType="NtcBoardVO">
		insert into ntcBoard (ntcNum, ntcTitle, ntcCntxt)
		values(ntc_seq.nextval, #{ntcTitle}, #{ntcCntxt})
	</insert>
	
	<update id="udtNtc" parameterType="NtcBoardVO">
		update ntcBoard set ntcTitle=#{ntcTitle}, ntcCntxt=#{ntcCntxt} where ntcNum=#{ntcNum}
	</update>
	
	<select id="getNtcCount" resultType="integer">	
		select count(*) from ntcBoard
	</select>
	
	<select id="getNtcOne" resultType="NtcBoardVO" parameterType="integer">	
		select * from ntcBoard where ntcNum = #{ntcNum}
	</select>
	
	<select id="getNtcAll" resultType="NtcBoardVO">	
		select * from ntcBoard
	</select>
	
	
	
	<delete id="delQnAAll">
		delete from qnAboard
	</delete>
	
	<delete id="delQnA" parameterType="Integer">
		delete from qnaboard where qnaNum = #{qnaNum}
	</delete>
	
	<delete id="delQnAMem" parameterType="String">
		delete from qnaboard where memId = #{memId}
	</delete>
	
	<insert id="addQnA" parameterType="QnAboardVO">
		insert into qnaboard (qnaNum, memId, qnaCat, brdTitle, brdCntxt)
		values(qna_seq.nextval, #{memId}, #{qnaCat}, #{brdTitle}, #{brdCntxt})
	</insert>
	
	<update id="udtQnA" parameterType="QnAboardVO">
		update qnaboard set qnaCat=#{qnaCat}, brdTitle=#{brdTitle}, brdCntxt=#{brdCntxt} where qnaNum=#{qnaNum}
	</update>
	
	<update id="udtQnA_Ans" parameterType="QnAboardVO">
		update qnaboard set ansCntxt=#{ansCntxt}, ansDate=sysdate where qnaNum=#{qnaNum}
	</update>
	
	<select id="getQnACount" resultType="integer">	
		select count(*) from qnAboard
	</select>
	
	<select id="getQnAOne" resultType="QnAboardVO" parameterType="integer">	
		select * from qnaboard where QnANum = #{qnaNum}
	</select>
	
	<select id="getQnAAll" resultType="QnAboardVO">	
		select * from qnaboard
	</select>
	
	<select id="getQnA_Mem" resultType="QnAboardVO" parameterType="MemberVO">	
		select * from qnAboard where memId = #{memId}
	</select>
	
	<select id="getQnA_MemId" resultType="QnAboardVO" parameterType="String">	
		select * from qnaboard where memId = #{memId}
	</select>
	
	<select id="getQnA_Admin" resultType="QnAboardVO">	
		select * from qnaboard where ansCntxt = null
	</select>
	
<!-- 	<select id="getQnAmemId" resultType="QnAboardVO" parameterType="String">	
		select * from QnAboard where memId = #{memId}
	</select>
	 -->
	<update id="increaseViewCnt" parameterType="integer">
      update ntcBoard set viewCnt = viewCnt + 1 where ntcNum=#{ntcNum}
   </update>
	
	
</mapper>