<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.ezen_project.dao.SangMemDAO"> 
	
	<select id="getSangMemList" resultType="SangMemVO">	
		select * from SangMem
	</select>
	
	<select id="getSangMem" resultType="SangMemVO">	
		select * from SangMem where orderNum = #{orderNum}
	</select>
	
	<insert id="addSangMem" parameterType="SangMemVO">
		insert into SangMem values(#{orderNum}, #{memId}, #{payNum}, #{sangSize}, #{sangColor}, #{sangCode}, #{sangCnt}, sysdate, #{ordStat} )
	</insert>
	
	<delete id="delSangMem" parameterType="SangMemVO">
		delete from SangMem where orderNum = #{orderNum}
	</delete>
	
	<update id="updSangMem" parameterType="SangMemVO">
		update SangMem set memId = #{memId}, payNum = #{payNum}, sangSize = #{sangSize}, sangColor = #{sangColor}, sangCode = #{sangCode}, sangCnt = #{sangCnt}, ordDate = sysdate, orderStat = #{ordStat} where orderNum = #{orderNum}
	</update>
	
	<select id="getcoupon" resultType="couponVO" >
		select * from Coupon where memId = #{memId}
	</select>
	
	<insert id="addcoupon" parameterType="couponVO">
		insert into Coupon values(#{coupNum}, #{memId}, #{coupName}, #{coupType}, #{expirDate}, #{workCond})
	</insert>
	
	<update id="updcoupon" parameterType="couponVO" >
		update SangMem set memId = #{memId}, coupName = #{coupName}, coupType = #{coupType}, expirDate = #{expirDate}, workCond = #{workCond} where coupNum = #{coupNum}
	</update>
	
	<delete id="delcoupon" parameterType="couponVO">
		delete from Coupon where memId = #{memId}
	</delete>
	
	<update id="updMileage" parameterType="MemberVO">
		update SangMem set mileage = #{mileage} where memId = #{memId}
	</update>
</mapper>