<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.ezen_project.dao.SangpumDAO"> 
	
	
	
	<select id="getSangAll" resultType="SangpumVO">	
		select * from Sangpum
	</select>
	
	<select id="getSang" resultType="SangpumVO">	
		select * from Sangpum where sangCode = #{sangCode}
	</select>
	
	<insert id="addSang" parameterType="SangpumVO">
		insert into Sangpum (sangCode, price, sangName, typeOne, typeTwo, typeThree, remStock)
		values (#{sangCode}, #{price}, #{sangName}, #{typeOne}, #{typeTwo}, #{typeThree}, #{remStock})
	</insert>
	
	<delete id="delSang" parameterType="String">
		delete from Sangpum where sangCode = #{sangCode}
	</delete>
	
	<delete id="delSangAll">
		delete from Sangpum
	</delete>
	
	<update id="updSang" parameterType="SangpumVO">
		update Sangpum set price = #{price}, sangName = #{sangName}, typeOne = #{typeOne}, typeTwo = #{typeTwo}, typeThree = #{typeThree}, 
		remStock = #{remStock}, saleRat = #{saleRat} where sangCode = #{sangCode}
	</update>
	
	
	
	
	<select id="getSCSAll" resultType="SangCodeSpecVO">	
		select * from SangCodeSpec
	</select>
	
	<select id="getSCS" resultType="SangCodeSpecVO">	
		select * from SangCodeSpec where sangCode = #{sangCode}
	</select>
	
	<insert id="addSCS" parameterType="SangCodeSpecVO">
		insert into SangCodeSpec (sangSize, sangColor, sangCode, remStock) values (#{sangSize}, #{sangColor}, #{sangCode}, #{remStock})
	</insert>
	
	<delete id="delSCS" parameterType="SangCodeSpecVO">
		delete from SangCodeSpec where sangCode = #{sangCode}
	</delete>
	
	<delete id="delSCSAll">
		delete from SangCodeSpec
	</delete>
	
	<update id="updSCS" parameterType="SangCodeSpecVO">
		update SangCodeSpec set sangSize = #{sangSize}, sangColor = #{sangColor}, remStock = #{remStock} where sangCode = #{sangCode}
	</update>
	


	
	<select id="getColor" resultType="SangCodeSpecVO">
		select sangColor from SangCodeSpec where sangCode = #{sangCode}
	</select>
	
	<select id="getSize" resultType="SangCodeSpecVO">
		select sangSize from SangCodeSpec where sangCode = #{sangCode} and sangColor = #{sangColor}
	</select>
	
	<select id="getSangRat" resultType="SangpumVO">
		select rating from Sangpum where sangCode = #{sangCode}
	</select>
	
	<select id="getSaleRat" resultType="SangpumVO">
		select saleRat from Sangpum where sangCode = #{sangCode}
	</select>
	
	<select id="getSoldOut" resultType="SangpumVO">
		select remStock from Sangpum where sangCode = #{sangCode}
	</select>
	
	<select id="getSangCate" parameterType="String" resultType="SangpumVO">
		SELECT * FROM Sangpum WHERE sangCode LIKE #{sangCode} order by #{orby}
	</select>
	
	<select id="getSangAdmin" parameterType="String" resultType="SangpumVO">
		SELECT * FROM Sangpum where sangCode=#{sangCode}
	</select>
	
</mapper>