@charset "UTF-8";

	#header{
	
	padding-top:1px;
	color:white;
	height:70px;
	background:pink;
	text-align:center;
	
	}
	
	#index{
	
	padding-top:10px;
	padding-left:30px;
	height:30px;
	color:white;
	background: orange;
	}
	
	#title{
	text-align:center;
	}
	#content{
	height:350px;
	background:pink;
	}
	footer{
	padding-top:25px;
	height:35px;
	text-align:center;
	color:black;
	background: yellow;
	}