<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.yangdoll.BoardDAO"> 
	
	<select id="getBoardList" resultType="BoardVO">	
		select * from tbl_board
	</select>
	
	<select id="getBoard" resultType="BoardVO" parameterType="String">	
		select * from tbl_board where memId = #{memId}
	</select>
	
	<insert id="addBoard" parameterType="BoardVO">
		insert into tbl_board values(bd_seq.nextval, #{title}, #{content}, #{writer}, sysdate, sysdate)
	</insert>
	
	<delete id="delBoard" parameterType="String">
		delete from tbl_board where title = #{title}
	</delete>
	
	<update id="updateBoa" parameterType="BoardVO">
		update tbl_board set title=#{title}, content=#{content}, writer=#{writer}, updatedate=sysdate where bno=#{bno}
	</update>
</mapper>